PyQt6==6.11.0
qtawesome==1.4.2
pyqtgraph==0.14.0
Pillow==12.2.0
matplotlib==3.10.8
reportlab==4.5.0
numpy==2.4.4
pyinstaller==6.19.0
pystray==0.19.5
winotify==1.1.0
groq==1.2.0
supabase==2.30.0
httpx==0.28.1
google-generativeai==0.8.6
openai==2.33.0
plyer==2.1.0
python-dotenv==1.2.2
pywin32==311
scipy==1.16.3
